// Specific CSS for your home-page
.main-text {
  text-align: center;
  font-family: 'Trebuchet MS';
  color: #389CD6;
  font-size: 39px;
}

p {
  color: darkgray
}

body {
  background-color: white;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.icons {
  width: 100%;
}

.shadow-card {
  box-shadow:  0 .170rem .55rem rgba($black, .075);
}


.card-product-dimensions {
  width:60vh;
}

.carousel-icon {
  font-size:35px;
}

.carousel-div {
  display: none !important;
}

.carousel-borders {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px
}


.articles {
  margin-left: 250px;
  margin-right: 250px;
}

.img-article-div {
  height:290px;
}

.img-article {
  width: 100%;
  height: 70%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow:  0 .170rem .55rem rgba($black, .075);
}


.info-article {
  width: 100%;
  height: 30%;
  background-color: white;
  color: #7B7070;
  text-align: justify;
  padding:14px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  box-shadow:  0 .170rem .55rem rgba($black, .075);
}

.btn-see-more {
  border: none;
  border-radius: 12px;
  background-color: #389CD6;
  color:white;
  padding: 20px 40%;
}

.btn-see-more:hover {
  background-color: #1c7bb3;
}


@media (max-width: 600px) {
  .cards-products {
    display: none;
  }

  .carousel-div {
    display: block !important;
  }

  .articles {
    display: none;
  }


  .btn-see-more {
    border: none;
    border-radius: 12px;
    background-color: #389CD6;
    color:white;
    padding: 20px 30%;
  }

  .first-footer-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .second-footer-row {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }

  .footer {
    height: 766px;
  }

  .line {
    width: 24px;
    height: 0px;
  }

  .margin-top-mobile {
    margin-top: 6em;
  }
}
