<div class="footer">
  <div class="first-footer-row mt-5">
    <a href="#" class="footer-link m-4">contact us</a>
    <div class="line"></div>
    <a href="#" class="footer-link m-4">faq</a>
    <div class="line"></div>
    <a href="#" class="footer-link m-4">site map</a>
    <div class="line"></div>
    <a href="#" class="footer-link m-4">privacy policy</a>
    <div class="line"></div>
    <a href="#" class="footer-link m-4">cookies policy</a>
    <div class="line"></div>
    <a href="#" class="footer-link m-4">legal notice</a>
  </div>

  <div class="second-footer-row mt-5">
    <img src="<%= image_path "ulabs.png" %>" alt="">
    <a href="#"><img src="<%= image_path "insta.png" %>" class="margin-top-mobile"alt=""></a>
  </div>
</div>
