<div class="stimulus" data-controller="navbar">


  <nav class="navbar navbar-expand-lg bg-white">
    <div class="container-fluid">


          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" data-action="click->navbar#displayicon" aria-expanded="false" aria-label="Toggle navigation">
            <span data-navbar-target="lines" class="mt-1 fas fa-align-justify"></span>
            <span data-navbar-target="close" class="mt-1 d-none fas fa-times"></span>
          </button>


          <%= image_tag "logo.png", class:"center"%>



          <button class="search-button">
            <%= image_tag "ic.search.svg", class: "search-icon position-icon"%>
          </button>

    </div>
  </nav>



  <div class="nav-bar-bottom">
    <div class="d-flex align-items-center justify-content-center">
      <button data-navbar-target="about" data-action="click->navbar#toggleDisplay1" class="button-nav-bottom">abouts us <i class="arrow down me-3"></i></button>
      <button data-navbar-target="our" data-action="click->navbar#toggleDisplay2" class="button-nav-bottom">our products <i class="arrow down me-3"></i></button>
      <button data-navbar-target="intimate" data-action="click->navbar#toggleDisplay3" class="button-nav-bottom">intimate health <i class="arrow down me-3"></i></button>
      <button class="button-nav-bottom" data-navbar-target="contact" data-action="click->navbar#contact">contact us</button>
    </div>
  </div>

      <div class="banner">
        <img src="https://res.cloudinary.com/getacar/image/upload/v1658675352/bannermobileGG_im0cny.png" class="banner-mobile" alt="">
        <div class="sub-nav-bar display-none row" data-navbar-target = "sub1">
          <div class="col-3"></div>
          <div class="col-9 d-flex justify-content-start">
            <button class="button-nav-bottom me-3">brand philosophy</button>
            <button class="button-nav-bottom">product technology</button>
          </div>
        </div>

        <div class="sub-nav-bar display-none row" data-navbar-target = "sub2">
          <div class="col-3"></div>
          <div class="col-9 d-flex justify-content-start">
            <button class="button-nav-bottom me-3">all products</button>
            <button class="button-nav-bottom me-3">intibiome wellness</button>
            <button class="button-nav-bottom me-3">intibiome active</button>
            <button class="button-nav-bottom">intibiome agecare</button>
          </div>
        </div>

        <div class="sub-nav-bar display-none row" data-navbar-target = "sub3">
          <div class="col-3"></div>
          <div class="col-9 d-flex justify-content-start">
            <button class="button-nav-bottom me-3">article 1</button>
            <button class="button-nav-bottom me-3">article 2</button>
            <button class="button-nav-bottom me-3">article 3</button>
            <button class="button-nav-bottom me-3">faq</button>
            <button class="button-nav-bottom">contact us</button>
          </div>
        </div>

        <div class="collapse navbar-collapse mini-navbar" id="navbarTogglerDemo01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <button class="nav-link collapsed-button"></button>
            </li>
            <li class="nav-item">
              <button class="nav-link collapsed-button">brand philosophy</button>
            </li>
            <li class="nav-item">
              <button class="nav-link collapsed-button">product technology</button>
            </li>
            <li class="nav-item">
              <button class="nav-link collapsed-button">all products</button>
            </li>
            <li class="nav-item">
              <button class="nav-link collapsed-button">intibiome wellness</button>
            </li>
            <li class="nav-item">
              <button class="nav-link collapsed-button">intibiome active</button>
            </li>
            <li class="nav-item">
              <button class="nav-link collapsed-button">intibiome agecare</button>
            </li>
            <li class="nav-item">
              <button class="nav-link collapsed-button">article 1</button>
            </li>
            <li class="nav-item">
              <button class="nav-link collapsed-button">article 2</button>
            </li>
            <li class="nav-item">
              <button class="nav-link collapsed-button">article 3</button>
            </li>
            <li class="nav-item">
              <button class="nav-link collapsed-button">faq</button>
            </li>
            <li class="nav-item">
              <button class="nav-link collapsed-button">contact us</button>
            </li>
          </ul>
        </div>


      </div>



</div>
