@media (min-width: 310px) {
  .img-product {
    width: 100%;
    height: 60%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .name-product {
    height: 20%;
    background-color: #FFFFFF;
    color:#7B7070;
    text-align: center;
  }

  .info1 {
    width: 100%;
    height: 20%;
    background-color: #389CD6;
    color: white;
    text-align: center;
    padding-top: 25px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
  }

  .info2 {
    width: 100%;
    height:20%;
    background-color: #309D5F;
    color: white;
    text-align: center;
    padding-top: 25px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
  }

  .info3 {
    width: 100%;
    height:20%;
    background-color: #EE6381;
    color: white;
    text-align: center;
    padding-top: 25px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
  }

  .carousel-product-height {
    height:390px;
  }

  .banner {
    padding: 150px 0;
    position: relative;
    height: 65vh;
  }

  .banner2 {
    padding: 150px 0;
    margin-top: 100px;
    position: relative;
    height: 65vh;
  }

  .banner-mobile {
    width: 100%;
    height: 65vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display:block;
    position:absolute;
    top:0;
  }

  .banner-mobile2 {
    width: 100%;
    height: 65vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display:block;
    position:absolute;
    top:0;
  }

  .main-text {
    text-align: center;
    font-family: 'Trebuchet MS';
    color: #389CD6;
    font-size: 20px;
  }
}

@media (min-width: 400px) {
  .img-product {
    width: 100%;
    height: 70%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .name-product {
    height: 15%;
    background-color: #FFFFFF;
    color:#7B7070;
    text-align: center;
  }

  .info1 {
    width: 100%;
    height: 15%;
    background-color: #389CD6;
    color: white;
    text-align: center;
    padding-top: 25px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
  }

  .info2 {
    width: 100%;
    height:15%;
    background-color: #309D5F;
    color: white;
    text-align: center;
    padding-top: 25px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
  }

  .info3 {
    width: 100%;
    height:15%;
    background-color: #EE6381;
    color: white;
    text-align: center;
    padding-top: 25px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
  }

  .carousel-product-height {
    height:490px;
  }


  .banner {
    padding: 150px 0;
    position: relative;
    height: 92vh;
  }

  .banner2 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 150px 0;
    margin-top: 100px;
    position: relative;
    background-image: url('https://res.cloudinary.com/getacar/image/upload/v1658668808/banner2mobile_zz57qd.png');
    height: 92vh;
  }

  .banner-mobile {
    height: 92vh;
  }

  .banner-mobile2 {
    height: 92vh;
  }

  .main-text {
    text-align: center;
    font-family: 'Trebuchet MS';
    color: #389CD6;
    font-size: 28px;
  }
}


@media (min-width:700px) {
  .banner {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    height: 60vh;
    position: relative;
    background-image: url('https://res.cloudinary.com/getacar/image/upload/v1658668661/banner_wkvitj.png');
  }

  .banner2 {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    height: 60vh;
    margin-top: 100px;
    position: relative;
    background-image: url('https://res.cloudinary.com/getacar/image/upload/v1658668769/banner2_ohsljv.png');
  }

  .banner-mobile {
    display: none;
  }

  .banner-mobile2 {
    display: none;
  }

  .main-text {
    text-align: center;
    font-family: 'Trebuchet MS';
    color: #389CD6;
    font-size: 39px;
  }

  .img-product {
    width: 100%;
    height: 65%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .name-product {
    height: 20%;
    background-color: #FFFFFF;
    color:#7B7070;
    text-align: center;
  }

  .info1 {
    width: 100%;
    height: 15%;
    background-color: #389CD6;
    color: white;
    text-align: center;
    padding: 10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
  }

  .info2 {
    width: 100%;
    height:15%;
    background-color: #309D5F;
    color: white;
    text-align: center;
    padding: 10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
  }

  .info3 {
    width: 100%;
    height:15%;
    background-color: #EE6381;
    color: white;
    text-align: center;
    padding: 10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
  }
}
